@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

body{
    color: #fff;
    background: #09001d;
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.container {
    display: flex;
    height: 100vh;
    width: 100%;
}


.quizz-section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    width: 100%;
    z-index: 100;
    transition: .8s ease-in-out;
    transition-delay: .25s;

}
.quizz-section.active{
    left: 0;
}
.quizz-section .quizz-box{
    position: relative;
    width: 500px;
    background: transparent;
    border: 2px solid #c40094;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    padding: 20px 30px;

}

.quizz-box h1{
    font-size: 32px;
    text-align: center;
    background: linear-gradient(45deg, transparent,#c40094,transparent);
    border-radius: 6px;


}
.quizz-box .quizz-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-bottom: 2px solid #c40094;

}
.quizz-header span{
    font-size: 18px;
    font-weight: 500;

}
.quizz-header .header-score{
    background: #c40094;
    border-radius: 3px;
    padding: 7px;
}
.quizz-box .question-text{
    font-size: 24px;
    font-weight: 600;
}
.option-list .option{
    width: 100%;
    padding: 12px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 4px;
    font-size: 17px;
    margin: 15px 0;
    cursor: pointer;
    transition: .3s;

}
.option-list .option:hover{
    background: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);

}
.quizz-box .quizz-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid #c40094;
    padding-top: 20px;
    margin-top: 25px;
}
.quizz-footer .question-total{
    font-size: 16px;
    font-weight: 600;
}
.quizz-footer .next-btn{
    width: 100px;
    height: 45px;
    background: rgba(255, 255, 255, .1);
    border: 2px solid rgb(255, 255, 255, .1);
    outline: none;
    border-radius: 6px;
    font-size: 16px;
    color: rgba(255, 255, 255, .3);
    font-weight: 600;
    cursor: pointer;
    pointer-events: none;
    transition: .5s;

}
.quizz-footer .next-btn:hover {
    background: #950170;
    border-color: #950170;


}